/* *   {
    outline: 1px solid red;
} */
body    {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
}


.header,
.hero,
.footer   {
    background-color: #1f2937;
    color: #f9faf8;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin: 0;
    width: 1400px;
    flex-shrink: 0;
}
.logo   {
    font-weight: bold;
    font-size: 20px;
}
.header {
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;
    }
    li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: #e5e7eb;
    }
}

.hero,
.info,
.quote,
.call   {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
}
.info   {
    flex-direction: column;
    align-items: center;
}
.boxes  {
    display: flex;
    gap: 50px;
}

.box {
    width: 100px;
}

.title  {
    font-size: 24px;
    color: #1f2937;
    font-weight: 900;
}

.left-hero  {
    width: 400px;
    color: #e5e7eb;
}
.right-hero {
    border: 2px solid #3882f6;
}
.box img{
    border: 5px solid #3882f6;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.quote  {
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    background-color: #e5e7eb;
    flex-direction: column;
    align-items: center;
}
.text   {
    width: 700px;
}
.author {
    font-weight: bold;
    text-align: right;
    font-size: 20px;
    font-style:normal;
}
.call-box   {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 1000px;
    background-color: #3882f6;
    padding: 20px 100px;
    border-radius: 10px;
    color: white;
}

button  {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #3882f6;
    border: 2px solid white;
    color: white;
    font-weight: bold;
}
.footer {
    text-align: center;
    padding: 20px;
}